/* 
Для того, чтобы этот CSS- файл был скомпилирован, сжат и перемещен в папку public необходимо:
    - в файле package.json установить необходимые библиотеки (npm install или npm i)
        1. скачиваем и устанавливаем NODE.JS
    - появятся: папка node_modules и файл package-lock.json
    - npm run dev (команды прописаны в файле package.json)
    - npm run цф (команды прописаны в файле package.json)
    - сервер запускать при помощи команды php -S localhost:8000 -t public (иначе стили не подцепляются)
    Просто устанавливается собственный сервер php по адресу -S с начальной точкой (корнем) в -t . 
    Это помогает при работе с абсолютными путями лучше, чем у artisan-сервера.
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fcfcfc;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.container {
    width: 90%;
    margin: 50px auto;
}

a {
    text-decoration: none;
    transition: color 500ms ease;
    color: #6f6f6f;
}

a:hover {
    color: #1f1f1f;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e7e7e7;
    padding: 20px 50px 20px;
    box-shadow: 0px 5px 5px -5px rgb(34 60 80 / 60%);
}

header .logo {
    color: #222;
    font-weight: 600;
    font-size: 25px;
}

header nav a {
    margin-left: 15px;
    font-weight: 600;
    padding: 10px 15px;
}

header nav form {display: inline;}

header nav form button {
    margin-top: 0px;
    background: #ff956c;
    border: 0;
}

header nav a.active {
    border: 2px solid #4a83c7;
    border-radius: 5px;
    margin-left: 15px;
    color: #4a83c7;
    background-color: #e7f1f3;
}

.presentation {
    background: url('/img/news.jpeg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #8f8f8f;
    position: relative;
}

.presentation::after {
    content: 'Лучшие новости со всего мира!';
    position: absolute;
    top: 100px;
    left: 50px;
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    width: 300px;
}

.presentation::before {
    content: 'Только самое интересное';
    position: absolute;
    top: 270px;
    left: 50px;
    color: #d7d7d7;
    font-size: 15px;
}

div.block {
    width: 100%;

    padding: 20px;
    border: 1px solid silver;
    border-bottom-width: 2px;
    background: #ebebeb;
    line-height: 170%;
}

div.block h1 {
    margin-bottom: 15px;
}

div.block ul,
div.block ol {
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
}

.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.articles h2 {margin-bottom: 10px;}
.articles p {margin: 5px 0px;}

.articles .post {
    width: 27%;
    padding: 20px;
    background: #f1f1f1;
    margin-bottom: 20px;
}

.articles .post img {
    width: 100%;
    margin-bottom: 10px;
}

.articles .post a,
.back-button,
.delete-button,
header form button {
    display: inline-block;
    margin-top: 15px;
    background: #bebebe;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    padding: 10px 12px;
    color: #fff;
    transition: transform 500ms ease;
}



.articles .post a:hover,
.back-button:hover,
.delete-button:hover,
header form button:hover {
    transform: scale(1.1) translateY(-2px);
}

.delete-button {
    background: #d45858;
    border: 0;
    cursor: pointer;
}

.articles.one .post {
    width: 100%;
    border: 1px solid silver;
    border-bottom-width: 2px;
}

form.article-form {
    margin-top: 20px;
}

form.article-form input[type='checkbox'] {
    width: initial;
}

form.article-form .login-btn {
    display: block;
}

form.article-form label {
    display: inline-block;
    margin-bottom: 10px;
}

form.article-form input,
form.article-form textarea {
    width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid silver;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    resize: none;
}

form.article-form input[type='submit'] {
    margin-top: 20px;
    cursor: pointer;
    background: #d45858;
    width: 100px;
    color: #fff;
    border: 0;
    transition: all 500ms ease;
}

form.article-form input[type='submit']:hover {
    background: #a63f3f;
}

.comment {
    width: 100%;
    background-color: #adadad;
    margin-bottom: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}

.error-mess,
.success-mess {
    padding: 15px 20px;
    color: #fff;
    margin-bottom: 20px;
}

.error-mess {
    background: #d45858;
}

.success-mess {
    background: #6ab05a;
}

footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}