/* 
Для того, чтобы этот CSS- файл был скомпилирован, сжат и перемещен в папку public необходимо:
    - в файле package.json установить необходимые библиотеки (npm install или npm i)
        1. скачиваем и устанавливаем NODE.JS
    - появятся: папка node_modules и файл package-lock.json
    - npm run dev (команды прописаны в файле package.json)
    - npm run цф (команды прописаны в файле package.json)
    - сервер запускать при помощи команды php -S localhost:8000 -t public (иначе стили не подцепляются)
    Просто устанавливается собственный сервер php по адресу -S с начальной точкой (корнем) в -t . 
    Это помогает при работе с абсолютными путями лучше, чем у artisan-сервера.
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fcfcfc;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.container {
    width: 90%;
    margin: 50px auto;
}

a {
    text-decoration: none;
    transition: color 500ms ease;
    color: #6f6f6f;
}

a:hover {
    color: #1f1f1f;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e7e7e7;
    padding: 20px 50px 20px;
    box-shadow: 0px 5px 5px -5px rgb(34 60 80 / 60%);
}

header .logo {
    color: #222;
    font-weight: 600;
    font-size: 25px;
}

header nav a {
    margin-left: 15px;
    font-weight: 600;
    padding: 10px 15px;
}

header nav a.active {
    border: 2px solid #4a83c7;
    border-radius: 5px;
    margin-left: 15px;
    color: #4a83c7;
    background-color: #e7f1f3;
}

.presentation {
    background: url('/img/news.jpeg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #8f8f8f;
    position: relative;
}

.presentation::after {
    content: 'Лучшие новости со всего мира!';
    position: absolute;
    top: 100px;
    left: 50px;
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    width: 300px;
}

.presentation::before {
    content: 'Только самое интересное';
    position: absolute;
    top: 270px;
    left: 50px;
    color: #d7d7d7;
    font-size: 15px;
}

div.block,
div.blog {
    padding: 20px;
    border: 1px solid silver;
    border-bottom-width: 2px;
    background: #ebebeb;
    line-height: 170%;
}

div.block h1 {
    margin-bottom: 15px;
}

div.block ul,
div.block ol {
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
}

div.blog {
    background-color: #E3F0FB;
    border: 1px solid #7ebff5;
    border-radius: 5px;
    margin: 20px 0px;
}

div.blog h2 {font-size: 32px;}
div.blog p {font-weight: 400; margin: 10px 0px;}
div.blog button {
    background:#38C171;
    color:#fff;
    font-weight:500;
    border:0;    
    border-radius:5px;
    padding:10px 15px;
    font-size:18px;
    cursor:pointer;
    box-shadow: 0px 0px 10px 2px rgba(105, 105, 105, 0.75);
}
div.blog button:active {
    box-shadow:0 0 5px -5px 
}

footer {
    text-align: center;
    margin-top: 50px;
}